.directive {
  border: 1px solid #ccc;
  background-color: #dbebff;
  padding: 15px;
  margin-bottom: 32px;
}

.red {
  color: red;
}

.underline {
  text-decoration: underline;
}

body {
  padding: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  background-color: #ccc;
}

h1 {
  color: #4c4c4c;
}

.top {
  margin-top: 50px;
}

.app-content .examples {
  width: 940px;
  padding: 0;
  background-color: transparent;
}
.app-content .section1 {
  padding: 0 15px;
}
.app-content .md-toolbar-tools h3 {
  margin: 15px 0;
}
.app-content .md-toolbar-tools p {
  font-size: 14px;
  margin: 0 0 20px 0;
}
.app-content .md-toolbar-tools.no-height {
  height: auto;
  max-height: none;
}

.editForm {
  padding: 0 15px;
}
